$blue: rgba(0,189,236,.9);
$teal: rgba(70,218,200,.9);
$green: rgba(172,232,72,.9);
$orange: rgba(250,180,7,.9);
$dark-blue: rgb(53,63,79);

$blue: #00c0ef;
$teal: #00d4bd;
$green: #97e242;
$orange: #fab406;
$red: #f63868;
$purple: #d43da3;
$indigo: #3c82f7;

$base-accent-color: $blue;
$base-background-color: #fafafa;
$footer-bg: rgb(24,40,58);

@mixin headline {
  font-weight: bold;
  font-family: 'rift', 'arial narrow', sans-serif;
  text-transform: uppercase;
  line-height: 1;
  font-style: normal;
}
@mixin flagged {
  @include headline;
  background: $dark-blue;
  color: white;
  display: inline-block;
  padding: .5rem;
  font-size: 1.3333rem;
}

@mixin block-button {
  display: inline-block;
  text-decoration: none;
  color: $base-accent-color;
  padding: .5rem;
  background-color: white;
  font-size: .75rem;
  line-height: 1;
  &:hover {
    background: $base-accent-color;
    color: white;
  }
}

@include keyframes(pulse) {
  from {
    box-shadow: 0 0 0 0rem rgba(77,218,245,.5);
  }
  to {
    box-shadow: 0 0 0 1rem rgba(77,218,245,0);
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
