.slide {
  padding: 2rem;
  width: 100%;
  position: relative;
  display: table;
  .slide-outer {
    display: table-cell;
    vertical-align: middle;
  }
  .slide-inner {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
  }
  header {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  &.text {
    .slide-inner {
      max-width: 42ch;
    }
  }
  &.small {
    min-height: 0px;
  }
}

.title {
  min-height: 100vh;
}
.table {
  .slide-inner {
    max-width: 60rem;
  }
}

.column {
  padding: 2rem 1rem;
  ul {
    padding: 1rem 0 0 1rem;
  }
}

figure {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  .asset {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    display: none;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .asset:first-child {
    display: block;
  }
}
@media (orientation: landscape), (min-width: 768px) {
  .slide {
    .slide-inner {
      @include clearfix;
    }
    figure {
      position: absolute;
      top: 50%;
      left: 50%;
      right: 0;
      width: auto;
      height: 100%;
      max-height: 24rem;
      @include transform(translateY(-50%));
      .asset {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        padding-bottom: 50%;
        background-position: center left;
      }
    }
    figcaption {
      width: 50%;
    }
  }
  .table {
    em {
      display: inline-block;
      height: 2.4rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .columns {
    display: table;
    table-layout: fixed;
    .column {
      display: table-cell;
    }
  }
}

