.slide {
  padding: 1rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  header {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  article {
    max-width: 50rem;
    margin: 0 auto;
    @include clearfix;
  }
}

.title-slide {
  height: 100vh;
  article {
    @include transform(translateY(-50%));
    position: relative;
    top: 50%;
  }
}

.table-slide {
  article {
    max-width: 60rem;
  }
}

.column {
  padding: 2rem 1rem;
  ul {
    padding: 1rem 0 0 1rem;
  }
}

figure {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
@media (min-width: 660px) {
  .slide {
    padding: 4rem;
  }
}
@media (orientation: landscape), (min-width: 768px) {
  .graphic-slide {
    @include clearfix;
    figure {
      position: absolute;
      top: 1rem;
      bottom: 1rem;
      width: auto;
      img {
        position: absolute;
        top: 0;
        height: 100%;
        width: auto;
      }
    }
    figcaption {
      width: 50%;
    }
  }
  .graphic-slide:nth-of-type(odd) {
    figure {
      left: 50%;
      right: 0;
      img {
        left: 1rem;
      }

    }
  }
  .graphic-slide:nth-of-type(even) {
    figure {
      left: 0;
      right: 50%;
      img {
        right: 1rem;
      }
    }
    figcaption {
      float: right;
    }
  }
  .table-slide {
    em {
      display: inline-block;
      height: 2.4rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .columns {
    display: table;
    table-layout: fixed;
    .column {
      display: table-cell;
    }
  }
}

