body {
  font-family: 'proxima', sans-serif;
  line-height: 1.2;
  font-size: 14px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.slide {
  background-color: #FCFAFB;
  header {
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
    h2 {
      line-height: 1;
      font-size: 2rem;
    }
  }
  h1 {
    font-family: 'rift', 'arial narrow', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1;
  }
  h2, h3, p, ul, ol {
    margin: 1rem auto;
  }
  ul {
    list-style-type: disc;
  }
  li {
    margin: auto .2rem;
  }
}

.title-slide {
  header {
  }
  h1 { line-height: 1.2; }
  h1 {
  }
  .fill-in-the-blank {
    span {
      color: white;
      display: inline-block;
      padding: 0 .5rem;
      background: $base-accent-color;
    }
  }
}

.graphic-slide {
  text-align: left;
  figcaption {
    margin: 0;
  }
}

.text-slide {
  background-color: white;
  overflow: hidden;
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  article {
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 2rem);
    max-width: 30rem;
    @include transform(translate(-50%, -50%));
    z-index: 2;
    mix-blend-mode: multiply;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100vw - 4rem);
      height: calc(100vh - 4rem);
      max-width: 1400px;
      z-index: 1;
      border: 6px solid $base-accent-color;
      @include transform(translate(-50%,-50%));
      mix-blend-mode: multiply;
    }
  }
  p {
    //display: inline;
    //background: rgba(255,255,255,.8);
    //box-shadow: .25rem 0 0 rgba(255,255,255,.8), -.25rem 0 0 rgba(255,255,255,.8);
  }
}

.table-slide {
  @include linear-gradient(white, #fcfafb);
  header {
    text-align: center;
  }
  em {
    font-style: normal;
    opacity: .5;
  }
}

.columns {
  color: $dark-blue;
  font-size: .857rem;
  h2 {
    @include flagged;
  }
  ul {
    border-top: 1px solid #cfcfcf;
    text-align: left;
  }
  li {
    margin-bottom: 1rem;
  }
}

body > footer {
  background-color: $footer-bg;
  color: rgba(255,255,255,.8);
  text-transform: uppercase;
  article {
    font-family: 'rift', 'arial narrow', sans-serif;
    font-size: 1rem;
    letter-spacing: .05rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(255,255,255,.1);
  }
  nav {
    font-size: 12px;
  }
  a {
    color: rgba(255,255,255,.8);
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
}

@media(min-width: 620px) {
  .title-slide header h1 {
    font-size: 4rem;
  }
}

@media(min-width: 1024px) {
  html, body {
    font-size: 24px;
  }
}

@media (min-width: 1400px) {
  .text-slide {
    background-size: 1400px auto;
  }
}
