html {
  font-family: 'proxima', sans-serif;
  line-height: 1.2;
  font-size: 14px;
}

article > section {
  @include linear-gradient(white, rgb(241,242,243));
}

h1, h2 {
  font-family: 'rift', 'arial narrow', sans-serif;
  font-weight: bold;
}

h3, h4, h5, h6 { font-weight: bold; }
