<figure>
  <% slide.media_assets.each_with_index do |asset, index| %>
    <div class="asset" style="background-image: url(<%= asset['url'] %>)">
      <%= slide.media_captions[index] %>
    </div>
  <% end %>
</figure>

</figure>
<figcaption>
  <h1><%= slide["Headline"] %></h1>
  <%= markdown slide["Body"] %>
</figcaption>
