<article>
  <% @page["slides"].each do |slide| %>
    <section class="slide <%= slide['Kind'].parameterize %>">
      <div class='slide-content'>
        <h2><%= slide['Headline'] %></h2>
        <%= markdown slide["Body"] %>
      </div>
    </section>
  <% end %>
</article>
