<article>
  <% @page["slides"].each do |slide| %>
    <% slide_type = slide.slide_type %>
    <section class="slide <%= slide_type %>">
      <div class="slide-outer">
        <div class="slide-inner">
        <%= erb :"slides/_#{slide_type}", locals: { slide: slide } %>
        </div>
      </div>
    </section>
  <% end %>
</article>
