<article>
  <% @page["sections"].each do |section| %>
    <section class="<%= section['Kind'].parameterize %>">
      <div class='section-content'>
        <h2><%= section['Headline'] %></h2>
        <%= markdown section["Body"] %>
      </div>
    </section>
  <% end %>
</article>
